/target/stacktrace.log
/target/
/web-app/institucional/1-small.jpg
/web-app/institucional/1-large.jpg
/web-app/imagenestudios/5-large.png
/web-app/institucional/1-small.png
/web-app/institucional/1-large.png
/web-app/imagenestudios/5-small.png